* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mnsr_Bd';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #151515;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----------header---------- */
.header__box-fix {
  width: 100%;
  position: fixed;
  background: #282828;
  z-index: 2;
}

.header__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 0;
  flex-wrap: wrap;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__list {
  padding-left: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav__item-link {
  color: #FFF;
  font-size: 20px;
  transition: all 300ms;
}

.nav__item-link:hover {
  border-bottom: 3px solid;
}

.header__active {
  display: flex;
  gap: 25px;
  align-items: center;
}

.header__active a {
  transition: all 300ms;
}

.header__active-loupe:hover,
.header__active-cart:hover {
  transform: scale(1.4);
}

.header__content {
  background: url(../images/hero-header.jpg) no-repeat center /cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 38px;
  align-items: center;
}

.header__title {
  color: #FFF;
  font-family: 'Prosto_Rg';
  font-size: 100px;
  line-height: 75px;
  /* 75% */
}

.header__content-link {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  transition: all 300ms;
}

.content-link-text {
  color: #171718;
  font-family: 'Mnsr_Md';
  font-size: 20px;
  text-transform: uppercase;
}

.header__content-link:hover {
  background: #C4C4C4;
}

.header__content-link:hover .content-link-text {
  color: #FFF;
}


/* -------Desription Section---------- */
.description {
  padding-top: 30px;
  padding-bottom: 50px;
}

.description-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.description-item-text {
  color: #FFF;
  font-family: 'Mnsr_Md';
  font-size: 22px;
}

.description-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.description-item.top {
  gap: 30px;
}

.description-item.bottom {
  gap: 87px;
  flex-direction: row-reverse;
}

/* -------Advantage Section------------ */
.advantages__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 87px;
}

.advantages__box-text {
  color: #FFF;
  font-size: 20px;
}

.advantages__box-pic {

  position: relative;
  display: flex;
}

.advantages__box-pic::before {
  content: "";
  width: 61px;
  border-bottom: 1px solid #C4C4C4;
  background: white;
  position: absolute;
  right: -74px;
  top: 50%;
}

.advantages__box-pic::after {
  content: "";
  width: 61px;
  border-bottom: 1px solid #C4C4C4;
  background: white;
  display: block;
  position: absolute;
  left: -74px;
  top: 50%;
}

.advantages__box-text.left {
  text-align: right;
}

/* ---------Products Section---------- */
.products {
  padding-top: 79px;
  padding-bottom: 55px;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products-items {
  max-width: 255px;
  width: 100%;
  height: 312px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #FFF;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.products-items-link {
  padding-top: 10px;
  width: 161px;
  height: 34px;
  flex-shrink: 0;
  background: #151515;
  color: #FFF;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.products-items-title {
  color: #000;
  font-size: 20px;
}

.products-items-text {
  color: #000;
  font-family: 'Mnsr_Rg';
  font-size: 14px;
  text-transform: uppercase;
}

.products-items-link:hover {
  background: #C4C4C4;
  color: #282828;
}

/* ----------Footer------- */
.footer {
  background: #282828;
  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 80px 0;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__active {
  display: flex;
  gap: 29px;
}

.footer__list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.footer__item {
  color: #FFF;
  font-size: 20px;
  transition: all 300ms;
}

.footer__item:hover {
  border-bottom: 3px solid;
}

.footer__active a {
  transition: all 300ms;
}

.footer_active-visac:hover,
.footer_active-masterc:hover {
  transform: scale(1.2);
}

@media (max-width:1060px) {
  .products__list {
    gap: 20px;
    justify-content: center;

  }
}

@media (max-width:900px) {
  .header__box-fix {
    opacity: 0.8;
  }

  .description-item {

    flex-wrap: wrap-reverse;
    gap: 30px;
    justify-content: center;
    width: 100%;
  }

  .description-item.bottom {
    gap: 20px;
  }
}

@media (max-width:750px) {


  .description-pic-top {
    width: 290px;
  }

  .description-pic-bottom {
    width: 180px;
  }

  .advantages__img {
    width: 180px;
  }

  .header__title {
    font-size: 60px;
    line-height: 20px;
  }

  .header__content {
    height: auto;
    padding: 100px 0;
  }
}

@media (max-width:690px) {
  .advantages__box-pic {
    order: -1;
    flex-basis: 100%;
    justify-content: center;

  }

  .advantages__box {
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
  }

  .advantages__box-text {
    width: 40%;
  }

  .advantages__box-pic::after {
    display: none;
  }

  .advantages__box-pic::before {
    display: none;
  }

  .advantages__box {
    gap: 25px;

  }

  .advantages__box-text,
  .description-item-text {
    font-size: 18px;
  }

  .footer {
    padding: 15px 0;
  }

  .footer__box {
    justify-content: center;
    /* padding: 15px 0; */
    gap: 30px;
  }
}

@media (max-width:480px) {


  .header__title {
    font-size: 40px;
  }

  .header__nav {
    justify-content: center;
  }

  .header__box {
    gap: 10px;
    justify-content: center;
  }

  .advantages__img {
    width: 90px;
  }

  .advantages__box {
    gap: 10px;
  }

  .advantages__box-text,
  .description-item-text {
    font-size: 15px;
  }

  .header__content {
    gap: 10px;
  }
}

@media (max-width:390px)